extends layout

block content
    if (user)
        nav
            a(href="/") home
            div.nav-container
                a(href="/add-message") add message!
                a(href="/join-the-club") join the club
                a.logout-link(href="/logout") logout


    else 
        nav 
            a(href="/") home
            a(href="/login") login 


    if user

        h1 Add Message

        form(action="", method="post") 
            label(for="title") Title 
            input(type="text" name="title")
            br
            br
            label(for="text") Enter you message: 
            input(type="textarea" name="text") 
            br
            input(type="hidden" name="fullname" value=`${user.fullname}`)
            br
            button(type="submit") send
    else 
        h1 pleas login first 
        a(href="/login") login