extends layout

block content
    a(href="/") home
    if user

        h1 Add Message
        p #{user}

        form(action="", method="post") 
            label(for="title") Title 
            input(type="text" name="title")
            br
            br
            label(for="text") Enter you message: 
            input(type="textarea" name="text") 
            br
            input(type="hidden" name="fullname" value=`${user.fullname}`)
            br
            button(type="submit") send
    else 
        h1 pleas login first 
        a(href="/login") login