extends layout

block content
    if (user)
        nav
            a(href="/") home
            div.nav-container
                a(href="/add-message") add message!
                a(href="/join-the-club") join the club
                a.logout-link(href="/logout") logout

    else 
        nav 
            a(href="/") home
            a(href="/login") login 

    h1 Become An Admin
    if user 
        br
        br

        form(action="", method="post") 
            input(type="hidden", name="user_id" value=`${user._id}`)

            label(for="passcode") Enter The Admin Passcode: 
            br
            br
            input(type="text" name="passcode")
            br
            br
            button(type="submit") Join
    else 
        p login first 
        a(href="/login") login