/* global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* global */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  /* margin: 5px; */
}

nav {
  background-color: lightcoral;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  /* width: 70%; */
  /* margin-inline: auto; */
}

.nav-container {
  /* background-color: lightgreen; */
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

main {
  background-color: lightpink;
  width: 60%;
  margin-inline: auto;
}

.message {
  background-color: lightblue;
  margin: 20px;
}
